/**********************************************************************************
Este documuento CSS se utilizará para hacer cambios específicos de los iconos del proyecto
 ***********************************************************************************/

.fa,
.fa-pencil-square-o {
  background-color: #38d39f;
  border-color: #38d39f;
}

.btn {
  background-color: #38d39f;
}

.btn:hover {
  background-color: #32be8f;
}
